<div class="side">
	<%= render "/partials/center" %>
</div>
<div class="main">	
	<div class="position">
		<a href="/">首页</a>&gt;&gt;<a href="/center">我的帐户</a>
	</div>
	<div class="u_info">
		ti shi xinxi
	</div>
	<div class="u_orders">
		yi wancheng dingdan/dingdan zhuangtai
	</div>
	<div class="u_discount">
		tuijian lixie / dazhe
	</div>
	<div class="u_recommends">
		ni ke neng hui xihuan
	</div>
</div>
