*{margin:0;padding:0;}
body{margin:0;padding:0;font-size:12px;color:#333;text-align:center;font-family:SimSun;}
form,ul,ul li,p{margin:0;padding:0;}
ul, ul li{list-style:none;}
a{color:#0092D2;text-decoration:none;}
a:hover{color:#fc4c0f;text-decoration:underline;}
img{border:0px;}
.clearfix:after {content:"."; display:block; height:0; clear:both; visibility:hidden; }
* html>body .clearfix { display:inline-block; width:100%; }
* html .clearfix { height:1%; /* End hide from IE-mac */ } 
/* ie7 hack*/ 
*+html .clearfix { min-height:1%; } 
.clearfix{zoom:1;} 

h1, h2, h3, h4, h5, h6{margin: 0;padding: 0;}
input, option, select, textarea, button {font-size: 12px;}

.flash_errors{border: thin solid #8b0000;background: #ffc0cb;padding:15px 40px;width:500px;}
	.flash_errors li{line-height:20px;list-style:disc;}
.flash_info{border: thin solid #ff0;background: #ffe;}
.flash_warning {border: thin solid #b8860b;background: #ff0;}

#Container{width:100%;text-align:center;margin:0 auto;background:#FFF;}
#wapper{margin:0 auto;width:998px;text-align:left;}

#Header{height:90px;}
	#logo{float:left;display:inline;margin:10px 0 0 20px;}
	#logo img{width:173px;height:61px;}
	#logo span{margin-left:60px;font-size:14px;font-weight:bold;color:#1fa8dd;}
	.user_info{float:right;display:inline;}
		.user_panel{height:30px;line-height:30px;}
		.user_panel a{padding:0 8px;}
		.user_account{padding-top:30px;text-align:right;}
		.user_account a{padding:0 8px;}
	
#Nav{background:#1fa8dd;padding:2px;}
	.nav_l{float:left;display:inline;width:796px;background:#1fa8dd;}
	.nav_r{float:left;display:inline;width:172px;height:62px;padding:10px 0 0 26px;background:#FFF;}
	.NavList{height:36px;}
		.NavList li{float:left;display:inline;height:36px;line-height:36px;}
		.NavList li.current{}
		.NavList li a{font-size:14px;font-weight:normal;font-family:Microsoft Yahei;color:#FFF;padding:0 28px;border-left:1px solid #F7F7F7;}
		.NavList li a:hover{color:#FFF;text-decoration:underline;}
		.NavList li.first a{border:0;}
		.NavList li.current a{font-weight:bold;}
		.NavList li.current a:hover{color:#FFF;text-decoration:none;}
	.Search{height:36px;line-height:36px;background:#f4fcff;}
		.s_txt{float:left;display:inline;padding-left:10px;width:360px;}
			.s_txt .sInput{padding:1px 4px;width:280px;height:20px;border:1px solid #E4E4E4;}
			.s_txt .sSubmit{margin-left:2px;padding:4px 16px;}
		.hotkws{float:left;display:inline;margin-left:20px;width:390px;height:30px;overflow:hidden;}
			.hotkws span{font-weight:bold;}
			.hotkws a{margin:0 6px;color:#444;}
	.nav_r p{line-height:30px;}
		

#PageBody{height:auto !important;margin:auto;min-height:200px;text-align:left;padding-top:10px;}

.position{height:32px;line-height:32px;border-bottom:3px solid #000;}
	.position a{margin:0 10px;}
	.position a.r{color:#E30202;}
	
#HelpCenter{margin-top:18px;border-top:1px solid #CCC;border-bottom:1px solid #CCC;background:#F7F7F7;}
.f_logo{float:left;display:inline;width:100px;height:90px;border:1px solid #E4E4E4;margin:10px 0 0 10px;text-align:center;padding-top:10px;}
	.f_logo a{font-size:36px;font-weight:bold;font-family:Microsoft Yahei;color:#333;letter-spacing:2px;}
	.f_logo a:hover{text-decoration:none;color:#333;}
.help_ul{float:left;display:inline;margin-left:28px;}
.help_li{float:left;display:inline;width:120px;height:180px;padding:28px 0 0 18px;border-left:1px solid #E4E4E4;}
.help_t{font-size:12px;font-weight:bold;color:#333;}
.help_items{padding:10px 0 20px 0;}
	.help_items li{height:23px;line-height:23px;}
	.help_items li a{color:#666;}

#Friendlinks{height:35px;line-height:35px;}

#Footer{padding:20px 0;text-align:center;font-family:sans-serif;}

.side{float:left;display:inline;width:202px;}
.main{float:right;display:inline;width:774px;}

.pagination {margin:32px 0 0 0;text-align:center;}
.pagination a {padding: 2px 5px 2px 5px;margin: 2px;border: 1px solid #aaaadd;text-decoration: none;color: #000099;}
.pagination a:hover, .pagination a:active {border: 1px solid #000099;color: #000;}
.pagination span.current {padding: 2px 5px 2px 5px;margin: 2px;border: 1px solid #000099;font-weight: bold;background-color: #000099;color: #FFF;}
.pagination span.disabled {padding: 2px 5px 2px 5px;margin: 2px;border: 1px solid #eee;color: #aaa;}
table.page td a:link {text-decoration: none;}
table.page td a:visited {text-decoration: none;}
table.page td a:hover {text-decoration: underline;}

.iInput{padding:2px 4px;height:18px;line-height:18px;border:1px solid #CCC;font-size:12px;}
.btn_common{padding:4px 20px;cursor:pointer;}
.btn_reg{}

.c_tb{width:100%;border:1px solid #E4E4E4;border-collapse:collapse;border-spacing:0;}
.c_tb th{height:28px;line-height:28px;font-size:12px;font-weight:bold;text-align:center;background:#F7F7F7;}
.c_tb td{padding:6px 0;height:28px;line-height:28px;border-top:1px solid #E4E4E4;text-align:center;}
.c_tb td.i{width:160px;height:60px;line-height:0px;}
.c_tb td.t{width:300px;text-align:left;}
.c_tb td.p{width:120px;}
.c_tb td.total{text-align:right;padding-right:80px;}

