
<div class="login_reg">
	<div class="login_reg_title">注册</div>
	<div class="login_reg_con">
		<div class="reg_suc">
			<p class="first">您已成功注册!</p>
			<p>即将转入首页.</p>
			<script>
				setTimeout(function(){
					location.href = "/";
				}, 2000);
			</script>
		</div>		
	</div>
</div>
