
<div class="side">
	<%= render "/partials/menu" %>
</div>
<div class="main">
	<div class="position">
		<a href="/">首页</a>&gt;&gt;<a href="<%= @publish.show_url %>"><%= @publish.name %></a>
	</div>
	<%= render "/partials/products_list" %>
</div>
